/* .element{
    border: 1px dashed gray;
    background-color: white;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: move;
    float: left;
    color: #343434;
} */

/* Left Layout */
.field-border{
    border: 0.1px solid rgb(249, 216, 222);
    margin: 1rem;
    padding: 1rem;
}

.drag-field-border{
    border: 3px solid pink;
    margin: 1rem;
    padding: 1rem;
}

.field-text{
    font-weight: bold;
}

.cds--accordion__content{
    padding-inline-end: 0%;
}